<mat-card class="text-center">
    <div>
        <img class="mb-1 mx-auto w-[600px] h-[200px]"
            src="https://via.placeholder.com/150"
        />
        <div class="w-full">
            <div>
                <h5>Bad Ross</h5>
                <p class="truncate hover:whitespace-normal">Fire in the Woods</p>
                <p>My first attempt</p>
            </div>
            <div class="flex justify-between">
                <span class="text-red-400">{{ '50' | currency}}</span>
                <button>
                    <mat-icon class="text-gray-500">shopping_cart</mat-icon>
                </button>
            </div>
        </div>
    </div>
</mat-card>